<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" media="(max-width: 640px)" href="max-640px.css">
    <link rel="stylesheet" media="(min-width: 640px)" href="min-640px.css">

  </head>
  <body>



<nav class="header">
    <p>GIF Finder</p>
</nav>


    <div class="middle">
      <input class="pure-u-1-2"
             type="text"
             placeholder="Type here"
             id="myInput">
      <br><br>

    <div class="wrap">
        <button class="clicker fast"
                onclick="loadDoc()">Submit</button>
        <div class="circle angled second"></div>
    </div>

    <br><br>
    <p id="gifhere"></p>
  </div>

  <div class="footer">
 © 2015 Pin Lu &nbsp &nbsp
  <a href="www.pinlu.co"><strong>About</strong></a>
  </div>

  </body>
</html>
