/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
 margin: 0px;
 }

body{
  width: 100%;
  height: 100%;
   background-image: url(gradient.png);
}

.header p{
  position: absolute;
  position:fixed;
  top: 0px;
  padding: 1rem;
  background-color: black;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 35px;
  font-family: 'Bangers', cursive;
  opacity: 0.5;
}

.middle{
  text-align: center;
  margin: auto;
  margin-top: 100px;
  vertical-align:top;
}

img {
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.pure-u-1-2{
  height: 70px;
  font-size: 40px;
  text-align: center;
  color: rgb(20,190,235);
  opacity: 0.5;
}


.footer{
   position:fixed;
   bottom: 0px;
   padding: 1rem;
   background-color: black;
   text-align: center;
   width: 100%;
   opacity: 0.5;
}

p{
  color: white;
}

.footer a{
  text-decoration: none;
  color: white;
}

.wrap{
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto 30px auto;
}

.clicker{
  background-color: white;
  outline: none;
  font-weight: 600;
	position:absolute;
  cursor: pointer;
  padding: 0;
	border: none;
	height: 64px;
	width: 64px;
  left: 8px;
  top: 8px;
	border-radius: 100px;
	z-index: 2;
}

.circle{
	  position: relative;
    border-radius:40px;
	  width: 80px;
	  height: 80px;
	  z-index: 1;
    opacity: 0.5;
}


.clicker.faster:hover + .circle, .clicker.faster:active + .circle {
	  animation: rotator linear .4s infinite;
}

.clicker.fast:hover + .circle, .clicker.fast:active + .circle {
	  animation: rotator linear .5s infinite;
}

.clicker:hover + .circle, .clicker:active + .circle {
	  animation: rotator linear .8s infinite;
}

@keyframes rotator{
	  from{ transform: rotate(0deg); }
	  to{ transform: rotate(360deg); }
}


.angled.second {
	background-image: linear-gradient(
    white 0%,
    white 30%,
    rgb(20,190,235) 30%,
		rgb(20,190,235) 70%,
    white 70%,
    white 100%);
}

@media (min-width: 400px) and (max-width: 600px) {

  img {
       max-width: 400px;
}
}
